*{
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

li{
    text-decoration: underline;
    font-size: large;
    color: rgb(0, 0, 0);
}

section{
    width: 90%;
    align-items: center;
    margin-left: 30px;
}

header{
    width: 80%;
    position: relative;
    background-color: rgba(5, 160, 187, 0.315);
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo{
    background-color: seashell;
}

.hide {
    display: none;
}


#bodycontainer{
    height: 100vh;
    width: 90%;
    position: relative;
    background-color: rgba(149, 223, 233, 0.644);
}

#box1{
    height: 60vw;
    width: 59vw;
    position: absolute;
    top: 0;
    left: 15px;
    margin: 20px;
    background-color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#content { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vw;
    margin-left: 3vw;
}

.recipeImages {
    max-height: 300px;
    max-width: 300px;
}

.recipeCardsGen {
    padding-left: 10px;
    padding-right: 10px;
}



#box2{
    height: 65%;
    width: 45%;
    padding-bottom: 15px;
    margin: 20px;
    background-color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#box3{
    height: 22%;
    width: 93%;
    position: absolute;
    bottom: 20px;
    margin-left: 1%;

    background-color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.page-footer{
    background-color: seashell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
